@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-font: 'Lora', serif;
    --secudary-font: 'Montserrat', sans-serif;
    --main-color: #F1EFEF;
    --secudary-color: #CCC8AA;
    --third-color: #7D7C7C;
    --font-color: #191717;
}

body {
    font-family: var(--main-font);
    color: var(--font-color);
    
}


/* Menu de Navegação */
#logo-menu {
    width: 120px;
    height: 110px;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0 3rem;
    z-index: 3;
    min-width: 100vw;
    background-color: var(--secudary-color);
    min-height: 90px;
    box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(59, 68, 78, 0.589);
}

#nav-bar {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(59, 68, 78, 0.589);
}

#nav-bar.active {
    top: 100%;
    background-color: var(--secudary-color);
    text-align: center;
    box-shadow: 2px 2px 5px rgba(59, 68, 78, 0.589) ;
}

#nav-bar li {
    margin: 1rem;
}

#nav-bar a {
    color: var(--font-color);
    letter-spacing: 2px;
}
 ul :nth-child(3){
    background-color: var(--third-color);
    padding: 1rem;
    border-radius: 25px;
}
li #btn-login{
    color: white;
}
/* Fim do Menu de Navegação */


/* Inicio Banner Section Mobile*/
.mobile{
    background-color:#e7e7e7;
    position: relative;
    top:12rem;
    padding: 1rem 1rem 0 1rem;
    font-family: var(--secudary-font);
    
}
.mobile h2{
    font-size: 15px;
    padding-bottom: 6px;
}
.mobile h2 span{
    font-style: italic;
}
.mobile li{
    padding-bottom: 1rem;
}
.mobile li span{
    font-weight: bold;
}
/* Fim Banner Section Mobile*/


/* Inicio Banner Section Desktop*/
#banner{
    display:none;
}
/* Fim Banner Section Desktop*/

/* Section Descrição Letícia */
.container-description{
    display: flex;
    position: relative;
    margin: 15rem 1rem 2rem 1rem;
    gap:1.5rem;
    align-items: center;

}
#img-description{
    height: 250px;
    border-radius: 50%;
    border: 3px solid var(--third-color);
    box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(59, 68, 78, 0.589);
}
/* Fim Section Descrição Letícia */

/*Section Carrossel de fotos Mobile  */
.sliderdesktop{
    display: none;
}
.slidermobile{

    margin: 0 auto;
    width: 320px;
    height:480px;
    overflow: hidden;
   
}

.slider-mobile{
    width: 400%;
    height: 480px;
    display: flex;
}
.slider-mobile input{
    display: none;
}
.slide{
    width: 25%;
    position: relative;
}
.slider-mobile img{
    width:320px ;
    height: 430px;
     border-radius: 5%; 
}

.manual-navigation{
    position:absolute;
    width:320px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
    transition: .06s;
}

.manual-btn{
    border: 2px solid var(--main-color);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: var(--main-color);
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}
.navigation-auto div{
    border: 2px solid var(--main-color);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navigation-auto{
    position:absolute;
    width: 320px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
    
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color:var(--main-color);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color:var(--main-color);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: var(--main-color);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color:var(--main-color);
}



/*Fim Section Carrossel de fotos Mobile  */
@media (min-width:1000px) {
    /* Inicio do Menu de Navegação */
    #menu{
        justify-content: space-around;
        height: 100px;              
    }
    #menu-icon{
        display: none;
    }
    #nav-bar{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        top: 0;
        box-shadow: none;
        gap: 3rem;
        
    }
    ul :nth-child(3){
        background-color: var(--third-color);
        padding: 1rem 3rem;
        border-radius: 25px;
    }
    li #btn-login{
        color: white;
    }
    #nav-bar.active {
        box-shadow: none;    
        
}
/* Fim do Menu de Navegação */

/* Inicio Banner Section Mobile*/
.mobile{
   display: none;
}
/* Fim Banner Section Mobile*/

/* Inicio Banner Section  Desktop*/
.desktop{
   padding-top: 7rem;
}
#banner{
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}
/* Fim Banner Section Desktop */

/* Section Descrição Letícia */
.container-description{
    margin-top:2rem;
}
/* Fim Section Descrição Letícia */

/*  Section Carrossel de fotos Desktop */
.slidermobile{
    display: none;
}
.sliderdesktop{
    display: block;
    width: 70vw;
    height: 80vh;
    overflow: hidden;
    margin: 2rem auto;
}
.slider-desktop{
    width: 500%;
    height: 80vh;
    display: flex;
}
.slider-desktop input{
    display: none;
}
.slide-desktop{
    width: 75%;
    position: relative;
}
.slider-desktop img{
    width: 70vw;
    height: 80vh;
    border-radius: 5%;
    display: flex;
}
.manual-navigation{
    width: 70vw;
    margin-top: 420px;  
}
.navigation-auto{    
    width: 70vw;
    margin-top: 420px; 
}

/*  Fim Section Carrossel de fotos Mobile */
}
