<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/contrate.css">
    <script src="js/home.js" defer></script>
    <script src="https://kit.fontawesome.com/988a2714d4.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="img/svg" id="mug" href="../public/img/mug-saucer-solid (1).svg">
    <title>Prosa Bar & Café - Contrate</title>
</head>

<body>

    <head>
        <!-- Menu de Navegação -->
        <nav id="menu">
            <a href="/">
                <img src="img/logo sem fundo.png" alt="Logo Prosa e Bar" id="logo-menu">
            </a>
            <i class="fa-solid fa-bars" id="menu-icon"></i>
            <ul id="nav-bar">
                <li>
                    <a href="/contrate">
                        Contrate o prosa</a>
                </li>

                <li>
                    <a href="#">
                        Acompanhe sua comanda
                    </a>
                </li>
                <li>
                    <a href="/login" id="btn-login">
                        Staff
                    </a>
                </li>
            </ul>
        </nav>
        <!-- Fim do Menu de Navegação -->
    </head>
   
        <div class="container-pai">
           <div class="festa">
            <a href="/festa">Prosa na sua festa</a>
        </div>
           
           <div class="condo">
            <a href="/festa">Prosa no seu condominio</a>
        </div>
        </div>
        <footer>
            © Prosa - Todos os direitos reservados.
            <!-- COLOCAR API WHATSAPP -->
        </footer>
  
</body>

</html>