<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <script src="js/home.js" defer></script>
    <script src="https://kit.fontawesome.com/988a2714d4.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="img/svg" id="mug" href="../public/img/mug-saucer-solid (1).svg">
    <title>Prosa Bar & Café</title>
</head>

<body>

    <head>
        <!-- Menu de Navegação -->
        <nav id="menu">
            <a href="./home.ejs">
                <img src="img/logo sem fundo.png" alt="Logo Prosa e Bar" id="logo-menu">
            </a>
            <i class="fa-solid fa-bars" id="menu-icon"></i>
            <ul id="nav-bar">
                <li>
                    <a href="#">
                        Prosa pertinho de você</a>
                </li>
                <li>
                    <a href="#">
                        Acompanhe sua comanda
                    </a>
                </li>
                <li>
                    <a href="./login.ejs" id="btn-login">
                        Staff
                    </a>
                </li>
            </ul>
        </nav>
        <!-- Fim do Menu de Navegação -->
    </head>

    <!-- Banner Section Moblie -->
    <section>
        <div class="container-banner mobile">
            <h1>prosa</h1>
            <h2><span>[pro-sa]</span> substantivo feminino</h2>
            <ol start="1">
                <li><span>1.</span> Moda natural de falar ou de escrever sem que se leve em conta métrica, rima ou
                    ritmo; segundo a vida cotidiana;</li>

                <li><span>2.</span> Conversas sem formalidades;</li>

                <li><span>3. Prosa Bar & Café</span>: lugar descontraído; sem regras gramaticais; onde você pode
                    encontrar dois dedos de prosa
                </li>
            </ol>
        </div>
    </section>
    <!--Fim do Banner Section Mobile -->

    <!-- Banner Section Desktop -->
    <section>
        <div class="container-banner desktop">
            <img src="img/prosa descrição.webp" alt="Banner sobre prosa" id="banner">
        </div>
    </section>
    <!-- Fim Banner Section Desktop -->

    <!-- Section Descrição Letícia -->
    <section class="description">
        <div class="container-description">
            <img src="img/leticia.png" alt="Dona do Prosa" id="img-description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi explicabo eaque asperiores dolorum
                officiis odio eveniet, repudiandae eligendi facere voluptatem. Commodi ullam nam sed earum incidunt
                possimus odio amet illo?</p>
        </div>
    </section>
    <!-- Fim Section Descrição Letícia -->

    <!-- Section Carrossel de fotos Mobile -->
    <section>
        <div class="slidermobile">

            <!-- Div para criar as bolinhas e linka-las com as labels -->

            <div class="slider-mobile">

                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">

                <!-- Div com as imagens do carrossel -->
                <!-- slide -->
                <div class="slide first">
                    <img src="img/carrossel_01_desktop.jpg" alt="Brinde">
                </div>
                <div class="slide">
                    <img src="img/carrossel_02_desktop.jpg" alt="Comida na Mesa">
                </div>
                <div class="slide">
                    <img src="img/carrosel_03.desktop.jpg" alt="Taças">
                </div>
                <div class="slide">
                    <img src="img/carrossel_04_desktop.jpg" alt="Mesa Posta">
                </div>
                <!-- Div com as Labels para navegação entre as imagens -->
                <div class="navigation-auto">
                    <div class="auto-btn1">
                    </div>
                    <div class="auto-btn2">
                    </div>
                    <div class="auto-btn3">
                    </div>
                    <div class="auto-btn4">
                    </div>
                </div>


                <div class="manual-navigation">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                    <label for="radio4" class="manual-btn"></label>
                </div>
            </div>


        </div>



    </section>
    <!-- Fim da Section Carrossel de fotos Mobile-->

    <!-- Formulário para Contratação de Eventos -->

    <form id="form-event">
        <fieldset>
            <legend>Contrate o <span>Prosa</span> para sua festa</legend>
            <label>Nome</label>
            <input class="nome" type="text">
            <label>Celular</label>
            <input class="cellphone" type="tel">

            <label>Tipo de Serviço</label>
            <div class="container-service">
                <label> Bar
                    <input class="service-type" name="base" type="radio" value="Bar">
                </label>

                <label> Garçom
                    <input class="service-type" name="base" type="radio" value="s">
                </label>

                <label>Cozinha
                    <input class="service-type" name="base" type="radio" value="s">
                </label>

                <label>Todos
                    <input class="service-type" name="base" type="radio" value="s">
                </label>
            </div>
            <label>Data do Evento:</label>
            <input class="data" type="date">
            <label>Horário do Evento:</label><br />
            <input class="horaInicio" type="time"><span> às </span>
            <input class="horaFim" type="time">
            <label>Quantidade de convidados</label>
            <input type="number" class="number-guest">
            <button onclick="enviaFormulario()">Enviar</button>
        </fieldset>
    </form>
    <!-- Fim Formulário para Contratação de Eventos -->

    <footer>
        © Prosa - Todos os direitos reservados.
        <!-- COLOCAR API WHATSAPP -->
    </footer>


</body>

</html>