<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width: 100%; text-align: center;">
        <h2>Em construção</h2>
        <img src="https://i.gifer.com/1Kj6.gif">
    </div>
</body>
</html>