@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

/* LOGIN PAGE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  font-family: "Gothic A1", sans-serif;
}
:root {
  --main-font: 'Lora', serif;
  --secudary-font: 'Montserrat', sans-serif;
  --main-color: #F1EFEF;
  --secudary-color: #CCC8AA;
  --third-color: #7D7C7C;
  --fourth-color: #7c7a66e4;
  --font-color: #191717;
  --fifth-color: #34332ae4;  
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;  
    background-image: url(/img/prosaFundo.png);
    background-size: 300% 100%;
    animation: ground 300s;
  }
  .container-principal{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .container-principal p{
    margin-bottom: 15px;
    
  }
  #logo-menu {
    width: auto;
    height: 110px;
    margin-bottom: 10px;
    animation: rotate 3s infinite;
  }  
  .container {
    background-color: var(--secudary-color);
    padding: 10px 30px 20px 30px;
    margin: 0;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #111;
  }  
  .btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background-color: var(--fifth-color);
    color: var(--main-color);
    border: 0;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  .btn:hover{
    background-color: var(--fourth-color);
    color:#111;
    border: 0;
  }  
  .btn:focus {
    outline: 0;
  }
  
  .btn:active {
    transform: scale(0.98);
  }
  
  .text {
    margin-top: 30px;
  }
  
  .form-control {
    margin: 20px 0;
    position: relative;    
    width: 250px;
  }
  
  .form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px var(--fifth-color) solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #111;
  }
  
  .form-control input:focus,
  .form-control input:valid {
    outline: 0;
    border-bottom-color:var(--fifth-color);
  }
  
  .form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
    color: var(--fifth-color);
  }
  
  .form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .form-control input:focus + label span,
  .form-control input:valid + label span {
    color: var(--third-color);
    transform: translateY(-30px);
  }
/* FIM LOGIN PAGE */

@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  40%{
    transform: rotate(3deg);
  }
  80%{
    transform: rotate(-3deg);
  }
  100%{
    transform: rotate(0deg)
  }
}

@keyframes ground{
  0%{
    background-position: 0% 0%;  
  }
  20%{
    background-position: 50% 0%; 
  }
  40%{
    background-position: 100% 0%;
  }
  60%{
    background-position: 150% 0%;
  }
  80%{
    background-position: 200% 0%;
  }
  100%{
    background-position: 250% 0%;
  }
   
  }
  